body {
    margin: 0;
    padding: 0;
}
#one {
    height: 100vh;
    width: 100%;
    background-image: url('../img/nf2.jpg');
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#two {
    height: 100vh;
    width: 100%;
    background-image: url('../img/norfolk-terrier.jpg');
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#three {
    height: 100vh;
    width: 100%;
    background-image: url('../img/three.jpg');
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#logo {
  float: left;
  margin: 0px 0px 15px 20px;
}
h1 {
    font-family: 'Archive';
    font-size: 50px;
    color:white;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.summer {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  font-family:'Glamor';
  font-style: italic;
  font-size: 40px;
}
h1 a {
text-decoration: none;
color: #fff;
}
#social {
  float: right;
  margin: 15px 20px 0px 0px;
}
#social ul li {
  float:left;
  list-style: none;
  padding: 5px;
}
#social img {
  height: 20px;
  width: 20px;
}
#para {
  padding: 30px;
  text-align: justify;
}
